
@{
    ViewBag.Title = "About this site";
}

<h1>About this site</h1>

<p>
    This is an intentionally insecure webapp, intended to be used in security training for developers and testers.
    It highlights some (not all) ways in which an ASP.NET Core application
    can exhibit security vulnerabilities from the <a href="https://www.owasp.org/index.php/Category:OWASP_Top_Ten_Project">OWASP top 10</a> list (2017).
</p>
<p><a href="https://github.com/muamaidbengt/seqrus">The source code can be found at GitHub</a></p>
