.seq-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.seq-callout-danger {
    border-left-color: #ce4844;
}

.seq-test,
.seq-description {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}

@media (min-width: 768px) {
    .seq-test, 
    .seq-description {
        margin-left: 0;
        margin-right: 0;
        box-shadow: none;
        border-color: #e5e5e5;
    }
}


.seq-test:after,
.seq-description:after {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #959595;
}

.seq-test:after {
    content: "How do I test it?";
}

.seq-description:after {
    content: "Why does it matter?";
}

.seq-info {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.seq-section {
    margin-bottom: 60px;
}

.seq-form {
    max-width: 500px;
}

.seq-sidebar .nav .nav {
    padding-bottom: 10px;
}

.seq-sidebar .nav li a {
    font-size: 13px;
    color: #767676;
    padding: 4px 20px;
}

.seq-sidebar .nav > .active > a {
    border-left: 2px solid #959595;
}

.seq-sidebar .nav .nav > li > a {
    padding-left: 30px;
    padding-bottom: 1px;
    font-size: 12px;
}

.seq-sidebar .nav .nav > .active > a {
    padding-left: 28px;
}

@media (min-width: 992px) {
    #seq-risks-sidebar.affix, #seq-risks-sidebar.affix-bottom {
        width: 213px;
    }
}

@media (min-width: 1200px) {
    #seq-risks-sidebar.affix, #seq-risks-sidebar.affix-bottom {
        width: 263px;
    }
}

.seq-test ol ol {
    list-style-type: lower-alpha;
}