@model Seqrus.Web.Helpers.ComplianceSettings
<h2 class="page-header">A1:2017 - Injection <risk-exposure /></h2>

<div class="seq-description">
    <p>An injection vulnerability can allow an attacker to gain access to and use a system in unexpected, unintended
        and unusual ways.</p>
    <p>Since this risk by its very nature means that your application logic is subject to external manipulation,
        exposure to this risk could mean virtually anything, depending on the purpose and architecture of the application.</p>

    <blockquote cite="https://www.owasp.org/index.php/Top_10-2017_A1-Injection">
        <p>Injection can result in data loss, corruption, or disclosure to unauthorized parties, loss of accountability, or denial of access. Injection can sometimes lead to complete host takeover.</p>
        <footer><a href="https://www.owasp.org/index.php/Top_10-2017_A1-Injection">The OWASP Top 10 2017 Project</a></footer>
    </blockquote>
</div>