@model Seqrus.Web.Helpers.ComplianceSettings
<h2 class="page-header">A4:2017 - XML External Entity (XXE) <risk-exposure /></h2>

<read-more href="https://www.owasp.org/index.php/Top_10-2017_A4-XML_External_Entities_(XXE)" />