@model Seqrus.Web.Helpers.ComplianceSettings
<h2 class="page-header">A5:2017 - Broken Access Control <risk-exposure /></h2>

<read-more href="https://www.owasp.org/index.php/Top_10-2017_A5-Broken_Access_Control" />