@model Seqrus.Web.Helpers.ComplianceSettings
<h2 class="page-header">A8:2013 - Cross-Site Request Forgery (CSRF) <risk-exposure is-exposed="@Model.CrossSiteRequestForgery" /></h2>
<div class="seq-description">
    <p>
        Even though CSRF has dropped off the OWASP top 10 list, it is still relevant to test for it.
    </p>
    <p>
        Exposure to this risk means that an attacker can impersonate your users,
        thereby gaining unauthorized access to information and credentials.
    </p>

    <blockquote cite="https://www.owasp.org/index.php/Top_10_2013-A8-Cross-Site_Request_Forgery_(CSRF)">
        <p>Attackers can trick victims into performing any state changing operation the victim is authorized to perform, e.g., updating account details, making purchases, logout and even login.</p>
        <footer><a href="https://www.owasp.org/index.php/Top_10_2013-A8-Cross-Site_Request_Forgery_(CSRF)">The OWASP Top 10 2013 Project</a></footer>
    </blockquote>
</div>
<div class="seq-test">
    <div class="panel panel-default">
        <div class="panel-heading">Check if the application forms accept POST input coming from a different domain without a correct synchronization (anti-forgery) nonce</div>
        <div class="panel-body">
            <ol>
                <li>
                    Construct a HTML page with a <code>form</code> element to make a POST request to the target application in and save it to your device.
                    <ol>
                        <li>For this application, you can <a asp-controller="Store" asp-action="CrossSitePostTest">download this test page</a>.</li>
                    </ol>
                </li>
                <li>Open the html page in a browser on your device.</li>
                <li>Submit the form.</li>
            </ol>
            <ul>
                <li>If <risk-exposure is-exposed="true" />, the application will accept the form. In this example, an order confirmation message will be shown.</li>
                <li>If <risk-exposure is-exposed="false" />, the application will not accept the form and/or display an error message. In this example, a HTTP 400 error will be shown, indicating that the application is configured to not accept POST input without the anti-forgery nonce.</li>
            </ul>
        </div>
    </div>
</div>