@model Seqrus.Web.Helpers.ComplianceSettings
<h2 class="page-header">A9:2017 - Using Components With Known Vulnerabilities <risk-exposure /></h2>

<read-more href="https://www.owasp.org/index.php/Top_10-2017_A9-Using_Components_with_Known_Vulnerabilities" />