
@{
    ViewData["Title"] = "Error";
}

<h2>Error</h2>
<p>Something went wrong. We won't be going into details here, but rest assured that our very best gnomes are working as hard as they can to remedy the situation!</p>