@model Seqrus.Web.ViewModels.SprocketOrderModel

<h1>Thank you for your order!</h1>

<p>You have ordered the following:</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Quantity</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sprocket</td>
            <td>@Model.Quantity</td>
            <td>€ @Model.Amount</td>
        </tr>
    </tbody>
</table>
<p>The sprockets will be delivered to <strong>@Model.Address</strong> within a week.</p>
<p>Your credit card will be billed a total of <strong>€ @Model.Amount</strong>. We hope you will enjoy your shiny sprockets!</p>